<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="bson_only_mode" value="true"/>
		<!-- UE4 Websockets need this parameter. Other implementations don't-->
		<arg name="websocket_external_port" value="80"/>
	</include>

	<include file="$(find nature)/launch/base.launch">
		<!-- no_waypoints.yaml ue4_VehicleAdvanced_waypoints.yaml -->
		<arg name="waypoints_file" value="$(find nature)/config/ue4_VehicleAdvanced_waypoints.yaml"/>
		<arg name="robot_description_file" value="$(find nature)/config/example_bot.urdf"/>

		<arg name="use_sim_time" value="true"/>

		
		<!-- These values are for the "VehicleAdvanced" example project in UE4 -->
		<arg name="vehicle_wheelbase" value="1.0"/>
		<arg name="vehicle_width" value="1.0"/>
		<arg name="vehicle_max_steer_angle_degrees" default="45.0"/>
		<arg name="max_steer_angle" value="0.79"/>
		<arg name="path_look_ahead" value="30.0"/>
		<arg name="use_global_path" value="false"/>

		<!-- perception node settings -->
		<arg name="points_topic" default="/nature/points"/>
		<arg name="slope_threshold" value=".5" />
		<arg name="cull_lidar" value="true"/>
		<arg name="cull_lidar_dist" value="40.0"/>
		<arg name="filter_highest_lidar" value="true"/>
		
		<!-- UE4's VehicleAdvanced map-->
		<arg name="grid_height" value="249.0"/>
		<arg name="grid_width" value="187.0"/>
		<arg name="grid_llx" value="-130"/>
		<arg name="grid_lly" value="-178"/>
		<arg name="grid_res" value=".25"/>
		<arg name="use_registered" default="true"/>
	</include>
</launch>